html {
  height: 100%;
}

body {
  background: #c2e59c;
  background: -webkit-linear-gradient(to top, #64b3f4, #c2e59c);
  background: linear-gradient(to top, #64b3f4, #c2e59c);
  font-family: 'Roboto';
  height: 100%;
}

.addtask {
  background-color: #f7f7f7;
  box-sizing: border-box;
  border: 0.1875rem solid transparent;
  color: #2980b9;
  font-size: 1.125rem;
  padding: .8125rem .8125rem .8125rem 1.25rem;
  width: 100%;
}

.addtask:focus {
  background: #fff;
  border: .1875rem solid #2980b9;
  outline: none;
}

.fa--right {
  float: right;
}

.tasks {
  background: #fff;
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tasks__task {
  color: #777;
  height: 2.5rem;
  line-height: 2.5rem;
}

.tasks__task:nth-child(odd) {
  background: #ddd;
}

.tasks__remove {
  background: #e74c3c;
  color: white;
  display: inline-block;
  height: 2.5rem;
  margin-right: 1.25rem;
  opacity: 0;
  text-align: center;
  transition: .2s linear;
  width: 0;
}

.tasks__task:hover .tasks__remove {
  width: 2.5rem;
  opacity: 1;
}

.tasks--complete {
  color: #ccc;
  text-decoration: line-through;
}

.todo {
  box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
  background: #f7f7f7;
  margin: 6.25rem auto;
  width: 22.5rem;
}

.todo__title {
  background: #2980b9;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: .625rem 1.25rem;
  text-transform: uppercase;
}

.test {
  color: red;
}
