.primary-nav
  padding-top: 10px

  +media-md
    padding-top: 0

  +m('pull-right')
    +media-md
      float: right
    
  ul
    +clearfix
    margin: 0
    padding: 0

  li
    &:last-child
      padding-right: 0
      +media-md
        padding-right: 20px
    +media-md
      float: left
      display: block
    list-style: none
    display: inline-block
    padding-right: 20px

  a
    color: $color-white
    font-weight: 300
    display: block
    padding: 5px 8px
    font-size: .8rem
    text-decoration: none
    background-color: rgba($color-main-blue, .5)
    +media-md
      padding: 12px 0
      font-size: 1rem
      background-color: transparent
